body {
	background-color: #000000;
	color: #ffffff;
	font-family: "Courier Prime", monospace;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}

.container {
	width: 365px;
	height: 543px;
}

#srtQueryData {
	width: 100%;
	height: 100%;
}

img {
	width: 100%;
	height: 100%;
}

.emptyslot {
	z-index: 1;
	width: 80px;
	height: 80px;
	background: url(./Items/Empty.png) no-repeat;
}

.inventoryslot {
	z-index: 1;
	width: 80px;
	height: 80px;
	background: url(./Items/Slot1.png) no-repeat;
}

.inventoryslot2 {
	z-index: 2;
	width: 169px;
	height: 80px;
	background: url(./Items/Slot2.png) no-repeat;
}

.inventoryslot2H {
	z-index: 2;
	width: 80px;
	height: 169px;
	background: url(./Items/Slot2.png) no-repeat;
}

.quantity {
	position: absolute;
	bottom: 5px;
	left: 0px;
	padding: 2px 12px 2px 5px;
	background: linear-gradient(-90deg, rgba(9,9,121,0) 0%, rgba(0,0,0,1) 90%);
}

.ammo {
	position: absolute;
	bottom: 3px;
	left: 2px;
	padding-right: 5px;
	padding-left: 5px;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,9,121,0) 82%);
}

#selectedslot0 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(9px + 30px);
	left: calc(9px + 30px);
}

#selectedslot1 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(9px + 30px);
	left: calc(98px + 30px);
}

#selectedslot2 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(9px + 30px);
	left: calc(187px + 30px);
}

#selectedslot3 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(9px + 30px);
	left: calc(276px + 30px);
}

#selectedslot4 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(98px + 30px);
	left: calc(9px + 30px);
}

#selectedslot5 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(98px + 30px);
	left: calc(98px + 30px);
}

#selectedslot6 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(98px + 30px);
	left: calc(187px + 30px);
}

#selectedslot7 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(98px + 30px);
	left: calc(276px + 30px);
}

#selectedslot8 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(187px + 30px);
	left: calc(9px + 30px);
}

#selectedslot9 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(187px + 30px);
	left: calc(98px + 30px);
}

#selectedslot10 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(187px + 30px);
	left: calc(187px + 30px);
}

#selectedslot11 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(187px + 30px);
	left: calc(276px + 30px);
}

#selectedslot12 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(276px + 30px);
	left: calc(9px + 30px);
}

#selectedslot13 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(276px + 30px);
	left: calc(98px + 30px);
}

#selectedslot14 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(276px + 30px);
	left: calc(187px + 30px);
}

#selectedslot15 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(276px + 30px);
	left: calc(276px + 30px);
}

#selectedslot16 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(365px + 30px);
	left: calc(9px + 30px);
}

#selectedslot17 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(365px + 30px);
	left: calc(98px + 30px);
}

#selectedslot18 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(365px + 30px);
	left: calc(187px + 30px);
}

#selectedslot19 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(365px + 30px);
	left: calc(276px + 30px);
}

#selectedslot20 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(454px + 30px);
	left: calc(9px + 30px);
}

#selectedslot21 {
	position: absolute;
	z-index: 5;
	color: white;
	top: calc(454px + 30px);
	left: calc(98px + 30px);
}

#selectedslot22 {
	position: absolute;
	z-index: 5;
	color: white;
	top: top: calc(454px + 30px);
	left: calc(187px + 30px);
}

#selectedslot23 {
	position: absolute;
	z-index: 5;
	color: white;
	top: top: calc(454px + 30px);
	left: calc(276px + 30px);
}

#slot0 {
	position: absolute;
	top: 9px;
	left: 9px;
}

#slot1 {
	position: absolute;
	top: 9px;
	left: 98px;
}

#slot2 {
	position: absolute;
	top: 9px;
	left: 187px;
}

#slot3 {
	position: absolute;
	top: 9px;
	left: 276px;
}

#slot4 {
	position: absolute;
	top: 98px;
	left: 9px;
}

#slot5 {
	position: absolute;
	top: 98px;
	left: 98px;
}

#slot6 {
	position: absolute;
	top: 98px;
	left: 187px;
}

#slot7 {
	position: absolute;
	top: 98px;
	left: 276px;
}

#slot8 {
	position: absolute;
	top: 187px;
	left: 9px;
}

#slot9 {
	position: absolute;
	top: 187px;
	left: 98px;
}

#slot10 {
	position: absolute;
	top: 187px;
	left: 187px;
}

#slot11 {
	position: absolute;
	top: 187px;
	left: 276px;
}

#slot12 {
	position: absolute;
	top: 276px;
	left: 9px;
}

#slot13 {
	position: absolute;
	top: 276px;
	left: 98px;
}

#slot14 {
	position: absolute;
	top: 276px;
	left: 187px;
}

#slot15 {
	position: absolute;
	top: 276px;
	left: 276px;
}

#slot16 {
	position: absolute;
	top: 365px;
	left: 9px;
}

#slot17 {
	position: absolute;
	top: 365px;
	left: 98px;
}

#slot18 {
	position: absolute;
	top: 365px;
	left: 187px;
}

#slot19 {
	position: absolute;
	top: 365px;
	left: 276px;
}

#slot20 {
	position: absolute;
	top: 454px;
	left: 9px;
}

#slot21 {
	position: absolute;
	top: 454px;
	left: 98px;
}

#slot22 {
	position: absolute;
	top: 454px;
	left: 187px;
}

#slot23 {
	position: absolute;
	top: 454px;
	left: 276px;
}